################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BTL_nhom4_LaptrinhWindows/v15/Server/sqlite3/db.lock
